* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --em-positivo: 5em; /* change cube size */
  --em-negativo: calc(var(--em-positivo) - calc(var(--em-positivo) * 2));
  --rotateX: 0;
  --rotateY: 0;
}

body {
  background-image: radial-gradient(rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.25) 80%);
  background-color: beige;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.85rem;
}

.espacio {
  transform-style: preserve-3d;
  perspective: 25in;
  position: relative;
}

.piso {
  position: absolute;
  top: calc(var(--em-positivo) * 1.75);
  transform: translate(-50%, -50%) rotateX(80deg);
  height: calc(var(--em-positivo) * 1.5);
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
  filter: blur(75px);
  }

.cubo {
  transform-style: preserve-3d;
  transform: rotateX(var(--rotateY)) rotateY(var(--rotateX));
  height: calc(var(--em-positivo) * 2);
  aspect-ratio: 1;
  position: absolute;
  top: var(--em-negativo);
  left: var(--em-negativo);
  transition: 3s ease-in-out;
}

.frente, .derecha, .tracera, .izquierda, .tapa, .fondo {
  width: 99.5%;
  aspect-ratio: 1;
  background-color: lightgoldenrodyellow;
  position: absolute;
  box-shadow: 0 0 calc(var(--em-positivo) / 2) rgba(0, 0, 0, 0.5) inset;
  outline: calc(var(--em-positivo) / 5) double darkcyan;
  outline-offset: calc(var(--em-negativo) / 5);
  border-radius: 5px;
  display: grid;
  place-items: center;
  backface-visibility: hidden;
}

p {
  user-select: none;
  font-size: var(--em-positivo);
  font-weight: bolder;
  font-family: monospace;
  color: darkslategray;
}

.fondo p {
  text-decoration: underline;
}

.frente {transform: translateZ(var(--em-positivo));}
.derecha {transform: rotateY(90deg) translateZ(var(--em-positivo));}
.tracera {transform: rotateY(180deg) translateZ(var(--em-positivo));}
.izquierda {transform: rotateY(-90deg) translateZ(var(--em-positivo));}
.tapa {transform: translateY(var(--em-positivo)) rotateX(-90deg);}
.fondo {transform: translateY(var(--em-negativo)) rotateX(90deg);}

input {
  position: absolute;
  display: flex;
  justify-content: center;
  width: calc(var(--em-positivo) * 3);
  accent-color: rgb(255, 217, 0);
}

#rangoVertical {
  transform: translateX(calc(var(--em-negativo) * 4)) rotateZ(-90deg);
}

#rangoHorizontal {
  transform: translateY(calc(var(--em-negativo) * 4));
}